all:
  compiler: [gcc, intel]
  providers:
    iconv: [libiconv]

cmake:
  version: [3.16.5]

openssl:
  version: [develop]
  buildable: False
  paths:
    openssl@develop: /usr

slurm:
  buildable: False
  paths:
    slurm@20.02.5: /apps/slurm/slurm-20.02.5
