- gcc_python3:
  - python@{{ environment.python.3 }} +optimizations+tkinter^libiconv
- intel_python3:
  - python@{{ environment.python.3 }} +optimizations+tkinter ^freetype@2.7.1 ^fontconfig@2.12.1^libiconv

- gcc_python2:
  - python@{{ environment.python.2 }}+tkinter^libiconv
- intel_python2:
  - python@{{ environment.python.2 }}+tkinter ^freetype@2.7.1 ^fontconfig@2.12.1^libiconv

- core_packages:
  - cmake@3.16.5
  - git
  - autoconf
  - automake
  - curl
  - fastqc
  - fio
  - git-lfs
  - i7z
  - libtool
  - lmod
  - m4
  - parallel
  - picard
  - sbt
  - sratoolkit
  - tar
  - tmux
  - trimmomatic

- serial_packages:
  - angsd
  - bedtools2
  - bwa
  # - chip-seq
  - eigen
  - fastqc
  - fftw ~mpi+openmp
  # - freebayes
  - gsl
  - hdf5+szip~mpi+hl+fortran+cxx
  - hisat2
  - htslib
  - intel-tbb
  - libxc
  - mafft
  - metis+real64
  - muscle
  - netcdf-c~mpi
    ^hdf5+szip~mpi+hl+fortran+cxx
  - netcdf-fortran~mpi
    ^netcdf-c~mpi
    ^hdf5+szip~mpi+hl+fortran+cxx
  # - nfft
  #   ^fftw ~mpi~openmp
  - scotch+esmumps~metis~mpi
  - stacks
  - star
  - subread
  - tcl
  - valgrind~boost~mpi
  - voropp
  {% if environment.gpu == 'nvidia' %}
  - {{ environment.stable.cuda.package }}^libiconv
  - cudnn ^ {{ environment.stable.cuda.package }}^libiconv
  {% endif %}

- gcc_serial_packages:
  - {{ environment.stable.intel.blas }}
  - glpk+gmp
  # julia >= 0..5 conflicts with intel compilers
  # it is not in the gcc_serial_packages_python due to the dependecy to mkl
  - julia+cxx+mkl
    ^{{ environment.stable.intel.blas }}
    ^python@{{ environment.python.3 }} +optimizations+tkinter
  - mvapich2 process_managers=slurm fabrics=mrail threads=multiple {{ cuda_variant(environment, arch=False, dep=True) }}
  - openblas threads=openmp
  - xgboost {{ cuda_variant(environment, dep=True) }}

- intel_serial_packages:

- serial_packages_lapack:
  - arpack-ng~mpi
  - gmsh~mpi+hdf5
    ^hdf5+szip~mpi+hl+fortran+cxx
  {% if environment.gpu == 'nvidia' %}
  - magma {{ cuda_variant(environment, dep=True, extra_on='^libiconv') }}
  {% endif %}
  - suite-sparse {{ cuda_variant(environment, dep=True, extra_on='^libiconv') }}
    ^metis+real64
  - superlu

- gcc_serial_packages_lapack:
  - armadillo+hdf5
    ^arpack-ng~mpi
    ^hdf5+szip~mpi+hl+fortran+cxx
  - octave

- intel_serial_packages_lapack:

- serial_packages_python:
  - bowtie2
  - boost cxxstd=14 +icu~mpi+python+numpy
  - hwloc +cairo {{ cuda_variant(environment, arch=False, dep=True, extra_on='+nvml') }}
    ^cairo+png+pdf+fc+ft
  - iq-tree@1.6.12
    ^boost cxxstd=14 +icu~mpi+python+numpy
  - iq-tree@2.0.6
    ^boost cxxstd=14 +icu~mpi+python+numpy
  - mercurial
  - ninja
  - prinseq-lite
    ^cairo+png+pdf+fc+ft
  - py-biopython
  - py-cutadapt
  - py-deeptools
  - py-pybind11
  - py-scikit-learn
  - py-statsmodels
  - py-theano {{ cuda_variant(environment, dep=True) }}
  - py-keras
    ^py-theano {{ cuda_variant(environment, dep=True) }}
  - samtools
  - scons
  - snakemake
  {% filter indent(width=2, indentfirst=true) %}
  {% include ('templates/scitas/' + stack_release + '/python_activated.yaml.j2') | indent %}
  {% endfilter %}

- serial_python2_minimal_support:
  - jellyfish
  {% filter indent(width=2, indentfirst=true) %}
  {% include ('templates/scitas/' + stack_release + '/python2_activated.yaml.j2') %}
  {% endfilter %}


- gcc_serial_packages_python:
  - bcl2fastq2
  - blast-plus@2.9.0
  - caffe ~opencv +python {{ cuda_variant(environment, arch=False, dep=True) }}
    ^boost cxxstd=14 +icu~mpi+python+numpy
    ^hdf5+szip~mpi+hl+fortran+cxx
  - gdb
  - libgd
  - mummer
    ^cairo+png+pdf+ft+fc
  - ncview
    ^netcdf-c~mpi
    ^hdf5+szip~mpi+hl+fortran+cxx
  #  Skipping build of polymake since perl-term-readline-gnu failed
  # - polymake@3.5
  - openbabel +python
    ^cairo+png+pdf+fc+ft
    ^boost cxxstd=14 +icu~mpi+python+numpy
  - py-torch +tbb {{ cuda_variant(environment, extra_on='+magma',
                     extra_off='~cudnn~nccl', dep=True) }}
  {% if environment.gpu == 'nvidia' %}
    ^magma {{ cuda_variant(environment) }}
  {%endif%}
  - py-torchvision
    ^py-torch +tbb {{ cuda_variant(environment, extra_on='+magma',
                     extra_off='~cudnn~nccl', dep=True) }}
  {% if environment.gpu == 'nvidia' %}
    ^magma {{ cuda_variant(environment) }}
  {%endif%}
  # - qt +opengl+webkit
  #   ^cairo+png+pdf+fc+ft
  - r +external-lapack ^openjdk@11.0.2
    ^cairo+png+pdf+ft+fc
  # depends on java@8
  #- gatk
  #  ^r +external-lapack ^openjdk@11.0.2
  #  ^cairo+png+pdf+ft+fc
  - spades
  - vtk+ffmpeg~mpi+opengl2+python~qt+xdmf{%+ if environment.gpu != 'nvidia' %}+osmesa{%+ endif %}
    ^netcdf-c~mpi
    ^hdf5+szip~mpi+hl+fortran+cxx
    ^boost cxxstd=14 +icu~mpi+python+numpy
    ^llvm {{cuda_variant(environment, dep=True)}}

- intel_serial_packages_python:
  - openbabel +python
    ^harfbuzz@2.1.3
    ^cairo+png+pdf+fc+ft
    ^boost cxxstd=14 +icu~mpi+python+numpy
  # does not compile
  # - py-torch ~nccl~cuda~cudnn+mkldnn+tbb
  # - qt +opengl+webkit~tools
  #   ^harfbuzz@2.1.3
  #   ^cairo+png+pdf+fc+ft
  - r +external-lapack ^openjdk@11.0.2
    ^harfbuzz@2.1.3
    ^cairo+png+pdf+fc+ft

- external_packages:
  - adf@2017.111
  - ansys@19.2
  - cfdplusplus@19.1
  - comsol@5.4
  - fdtd@8.20.1703
  - gaussian@g16-C.01
  - gurobi@8.1.1
  - intel-vtune@2019.6.0.602217
  - intel-advisor@2019.5.0.602216
  - likwid@4.3.0
  - maple@2017
  - mathematica@11.1.1
  - matlab@R2019b
  - smr@2017.06
  - totalview@2017.2.11

- intel_external_packages:
  # - abaqus

- gcc_external_packages:

- mpi_packages:
  - arpack-ng+mpi
  - fftw+mpi+openmp
  - hdf5+szip+mpi+hl+fortran+cxx
  - netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
  - netcdf-fortran+mpi
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
  - phylobayesmpi
  # problem with a symlink at install
  # - foam-extend+metis+scotch+parmetis+ptscotch~paraview
  #   ^metis+real64
  #   ^scotch+esmumps+mpi~metis

- mpi_lapack_packages:
  # fails to compile on izar, might need to modify the package to add cuda
  #support - elpa
  - gmsh+openmp+hdf5
    ^hdf5+szip+mpi+hl+fortran+cxx
  - hypre {{ cuda_variant(environment, arch=False) }}
  - parmetis
    ^metis+real64
  - quantum-espresso+mpi+scalapack
  - quantum-espresso+mpi+scalapack hdf5=parallel
    ^hdf5+szip+mpi+hl+fortran+cxx
  - scotch+esmumps+mpi~metis
  - superlu-dist
    ^parmetis
    ^metis+real64

- mpi_lapack_python_packages:
  - boost cxxstd=14 +icu+mpi+python+numpy
  - cgal
    ^boost cxxstd=14 +icu+mpi+python+numpy
  - iq-tree@1.6.12+mpi
    ^boost cxxstd=14 +icu+mpi+python+numpy
  - neuron+mpi+python+shared
  - plumed+mpi+gsl
  - py-h5py
    ^hdf5+szip+mpi+hl+fortran+cxx
  - py-mpi4py

- gcc_mpi_packages:
  - cpmd~openmp
    ^fftw+mpi~openmp
  - relion {{ cuda_variant(environment, extra_on='+double-gpu') }}
    ^fftw+mpi~openmp
  - relion {{ cuda_variant(environment) }}
    ^fftw+mpi~openmp

- gcc_mpi_lapack_packages:
  - abinit~hdf5~openmp+mpi+scalapack
    ^netlib-scalapack
  - elmerfem+mumps+openmp+hypre
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^netcdf-fortran+mpi
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^hypre {{ cuda_variant(environment, arch=False) }}
  - gromacs+mpi {{ cuda_variant(environment, arch=False) }}
  - mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
  - netlib-scalapack
  - yambo+mpi io=iotk,etsf-io
    ^fftw+mpi~openmp
    ^netcdf-fortran+mpi
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^netlib-scalapack

- gcc_mpi_lapack_python_packages:
  - adios2+hdf5+mpi+python
    ^hdf5+szip+mpi+hl+fortran+cxx
  - amber+mpi {{ cuda_variant(environment) }}
    ^netcdf-fortran+mpi
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^boost cxxstd=14 +icu+mpi+python+numpy
  - cp2k+mpi~plumed {{ cuda_variant(environment) }}
    ^fftw+mpi~openmp
    ^boost cxxstd=14 +icu+mpi+python+numpy
  - cp2k+mpi+plumed {{ cuda_variant(environment) }}
    ^fftw+mpi~openmp
    ^boost cxxstd=14 +icu+mpi+python+numpy
    ^plumed+mpi+gsl
  - fenics~parmetis+hdf5+scotch+suite-sparse~vtk~trilinos
    ^slepc+arpack
    ^arpack-ng+mpi
    ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}
    ^boost cxxstd=14 +icu+mpi+python+numpy
  - gromacs@2019.4+mpi+plumed {{ cuda_variant(environment, arch=False) }}
    ^plumed+mpi+gsl
  - lammps build_type=Release
    +asphere +body +class2 +colloid +compress +coreshell
    +dipole +granular +kspace +latte +lib +manybody +mc
    +misc +molecule +mpi +mpiio +peri ~poems +python +qeq  +replica +rigid +shock +snap +srd
    +user-atc +user-h5md +user-lb +user-misc +user-netcdf +voronoi {{ cuda_variant(environment) }}
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
  - openfoam +metis
    ^adios2+mpi+python+hdf5
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^boost cxxstd=14 +icu+mpi+python+numpy
  # problem with {{ cuda_variant(environment) }}
  - paraview +shared +python3 +hdf5 {%+ if environment.gpu != 'nvidia' %}+osmesa{%+ endif %}
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^llvm {{cuda_variant(environment)}}
  - petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}
  - py-horovod controllers=mpi frameworks=pytorch,tensorflow,keras tensor_ops={%if environment.gpu == 'nvidia' %}nccl{% else %}mpi{% endif %} {{ cuda_variant(environment) }}
    ^py-torch +tbb {{ cuda_variant(environment, extra_on='+magma', extra_off='~cudnn~nccl') }}
    {% if environment.gpu == 'nvidia' %}
    ^magma {{ cuda_variant(environment) }}
    {%endif%}
    ^py-keras
    ^py-theano {{ cuda_variant(environment) }}
    ^py-tensorflow +mpi {{ cuda_variant(environment, extra_off='~nccl') }}
    ^bazel
    ^py-h5py
    ^hdf5+szip+mpi+hl+fortran+cxx
  - py-petsc4py
    ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}
  - py-slepc4py
    ^slepc+arpack
    ^arpack-ng+mpi
    ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}
  - py-tensorflow +mpi {{ cuda_variant(environment, extra_off='~nccl') }}
    ^bazel
    ^py-h5py
    ^hdf5+szip+mpi+hl+fortran+cxx
  - opencv {{ cuda_variant(environment) }}
    ^vtk+ffmpeg+mpi+opengl2+python~qt+xdmf{%+ if environment.gpu != 'nvidia' %}+osmesa{%+ endif %}
    ^cairo+png+pdf+fc+ft
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^boost cxxstd=14 +icu+mpi+python+numpy
    ^llvm {{cuda_variant(environment)}}
  - slepc+arpack
    ^arpack-ng+mpi
    ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}
  - vtk+ffmpeg+mpi+opengl2+python~qt+xdmf{%+ if environment.gpu != 'nvidia' %}+osmesa{%+ endif %}
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^boost cxxstd=14 +icu+mpi+python+numpy
    ^llvm {{cuda_variant(environment)}}

- gcc_mpi_lapack_python2_packages:
  # temporary remove to figure out why it does not find blas
  # - molpro
  - nwchem
    ^netlib-scalapack

- intel_mpi_packages:
  - crystal17@1.0.2
  - vasp {{ cuda_variant(environment) }}
  {% if environment.gpu == 'nvidia' %}
    ^magma {{ cuda_variant(environment) }}
  {% endif %}

  - yambo+mpi io=iotk,etsf-io
    ^{{environment.stable.intel.blas}}
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^netcdf-c+mpi
    ^netcdf-fortran+mpi
    ^fftw+mpi~openmp

- intel_mpi_lapack_packages:
  - mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis

- intel_mpi_lapack_python_packages:
#  - fenics~parmetis+hdf5+scotch+suite-sparse~vtk~trilinos
#    ^slepc+arpack
#    ^arpack-ng+mpi
#    ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
#    ^mumps+mpi+parmetis+metis+scotch+ptscotch
#    ^parmetis
#    ^metis+real64
#    ^scotch+esmumps+mpi~metis
#    ^hdf5+szip+mpi+hl+fortran+cxx
#    ^suite-sparse {{ cuda_variant(environment) }}
#    ^hypre {{ cuda_variant(environment, arch=False) }}
  # internal compiler error at link
  # - lammps build_type=Release
  #  +asphere +body +class2 +colloid +compress +coreshell
  #  +dipole +granular +kspace +latte +lib +manybody +mc
  #  +misc +molecule +mpi +mpiio +peri ~poems +python +qeq  +replica +rigid +shock +snap +srd
  #  +user-atc +user-h5md +user-lb +user-misc +user-netcdf +voronoi
  #  ^netcdf-c+mpi
  #  ^hdf5+szip+mpi+hl+fortran+cxx
  # - py-tensorflow +mkl+mpi~nccl {{ cuda_variant(environment) }}
  #   ^py-h5py
  #   ^hdf5+szip+mpi+hl+fortran+cxx
  # - opencv {{ cuda_variant(environment) }}
  #   ^cairo+png+pdf+fc+ft
  #   ^harfbuzz@2.1.3
  #   ^vtk+ffmpeg+mpi+opengl2+python~qt+xdmf{%+ if environment.gpu != 'nvidia' %}+osmesa{%+ endif %}
  #   ^netcdf-c+mpi
  #   ^hdf5+szip+mpi+hl+fortran+cxx
  #   ^boost cxxstd=14 +icu+mpi+python+numpy
  #   ^llvm {{ cuda_variant(environment) }}
  # - caffe {{ cuda_variant(environment, arch=False) }}
  #   ^opencv {{ cuda_variant(environment) }}
  #   ^vtk+ffmpeg+mpi+opengl2+python~qt+xdmf{%+ if environment.gpu != 'nvidia' %}+osmesa{%+ endif %}
  #   ^cairo+png+pdf+fc+ft
  #   ^harfbuzz@2.1.3
  #   ^netcdf-c+mpi
  #   ^hdf5+szip+mpi+hl+fortran+cxx
  #   ^boost cxxstd=14 +icu+mpi+python+numpy
  #   ^llvm {{ cuda_variant(environment) }}
  - petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}
  - slepc+arpack
    ^arpack-ng+mpi
    ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}

- intel_mpi_lapack_python2_packages:
  # - molpro@2019.2+mpi

- benchmarks:
  - stream
  - stream+openmp

- mpi_benchmarks:
  - hpl~openmp
  - osu-micro-benchmarks
  - hp2p

- bleeding_edge_serial_packages:

- gcc_bleeding_edge_serial_packages:

- intel_bleeding_edge_serial_packages:

- nvhpc_bleeding_edge_serial_packages:
