{% for compiler in environment.compilers %}
  {% if compiler in environment.stable %}
- matrix:
  - [${{compiler}}_python2]
  - [$^{{compiler}}_stable_blas]
  - [$%{{compiler}}_stable_compiler]

- matrix:
  - [$serial_python2_minimal_support]
  - [$^{{compiler}}_python2]
  - [^py-setuptools@44.1.0]
  - [$^{{compiler}}_stable_blas]
  - [$%{{compiler}}_stable_compiler]

- matrix:
  - [${{compiler}}_mpi_lapack_python2_packages]
  - [$^{{compiler}}_python2]
  - [$^{{compiler}}_stable_blas]
  - [$^{{compiler}}_stable_mpi]
  {% if environment.gpu == 'nvidia' %}
  - [^{{environment.stable.cuda.package }}]
  {% endif %}
  - [$%{{compiler}}_stable_compiler]

- matrix:
  - [$benchmarks]
  - [$%{{compiler}}_stable_compiler]

- matrix:
  - [$mpi_benchmarks]
  - [$^{{compiler}}_stable_blas]
  - [$^{{compiler}}_stable_mpi]
  {% if environment.gpu == 'nvidia' %}
  - [^{{environment.stable.cuda.package }}]
  {% endif %}
  - [$%{{compiler}}_stable_compiler]
  {% endif %}

  {% if not 'cloud' in environment %}
- matrix:
  - [${{compiler}}_external_packages]
  - [$%{{compiler}}_stable_compiler]
  {% endif %}
{% endfor %}

{% if not 'cloud' in environment %}
- matrix:
  - [$external_packages]
  - [$%core_compiler]
{% endif %}
  
{% set matrix_env_specific = 'templates/' + site + '/' + stack_release + '/matrix.yaml.j2' %}
{% if matrix_env_specific | exists %}
{% include matrix_env_specific %}
{% endif %}
