- cmake%{{ environment.core_compiler | filter_variant }}
{% if environment.gpu == 'nvidia' %}
  {% for type in environment.stack_types %}
    {% for compiler, stack in environment[type].items() %}
      {% if 'compiler' in stack %}
- cuda % {{ stack.compiler | filter_variant | filter_compiler_name }}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
- python
- petsc
- openblas