- cuda%{{ environment.core_compiler | filter_variant }}
- cmake
{% set python_activated = 'templates/scitas/' + stack_release + '/python_activated.yaml.j2' %}
{% if python_activated | exists %}
{% include python_activated %}
{% endif %}
# this is installed as a dependency of node-js
- python^openssl@1.1.1b
