- angsd
- bedtools2
- blast-plus
- bowtie2
- bwa
- cmake
- gcc@8.3.0
- eigen
- elmerfem
- fastqc
- fftw
- freebayes
- gatk
- git
- gmsh
- gromacs
- gsl
- hpl
- intel
- intel-mkl
- intel-mpi
- intel-tbb
- iq-tree
- kallisto
- mafft
- mpich
- muscle
- netlib-scalapack
- octave
- openblas
- openfoam
- openjdk
- osu-micro-benchmarks
- perl%gcc@8.3.0
- perl%intel
- phylobayesmpi
- picard
- prinseq-lite
- python
- py-cutadapt
- py-biopython
- py-mpi4py
- py-statsmodels
- r^openjdk@11.0.2
- samtools
- snakemake
- spades
- sratoolkit
- stacks
- stream
