{% if not 'cloud' in environment %}
{% set spack_external_root = spack_external | absolute_path(prefix=spack_root) %}
####
# Third party software
####
abaqus:
  buildable: False
  externals:
    - spec: "abaqus@6.14-1%intel@18.0.5"
      prefix: {{ spack_external_root }}/abaqus/6.14-1

adf:
  buildable: False
  externals:
    - spec: "adf@2017.111 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/adf/adf2017.111

ansys:
  buildable: False
  externals:
    - spec: "ansys@17.1%{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/ansys/17.1/v171
    - spec: "ansys@19.2%{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/ansys/19.2/v192

cfdplusplus:
  buildable: False
  externals:
    - spec: "cfdplusplus@16.1%{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/CFD++/2016.05
    - spec: "cfdplusplus@19.1%{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/CFD++/19.1

comsol:
  buildable: False
  externals:
    - spec: "comsol@5.3 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/comsol/5.3
    - spec: "comsol@5.4 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/comsol/5.4

fdtd:
  buildable: False
  externals:
    - spec: "fdtd@8.20.1703 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/fdtd/8.20.1703
    - spec: "fdtd@8.19.1416-1 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/fdtd/8.19.1416-1
    # installed due to segfault with other versions INC0204566
    - spec: "fdtd@8.12.527 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/fdtd/8.12.527

likwid:
  buildable: False
  externals:
    - spec: "likwid@4.3.0 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/LIKWID/4.3.0

gurobi:
  buildable: False
  externals:
    - spec: "gurobi@8.1.1%{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/gurobi/8.1.1

gaussian:
  buildable: False
  externals:
    - spec: "gaussian@g16-A.03 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/gaussian/g16-A.03
    - spec: "gaussian@g16-C.01 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/gaussian/g16-C.01

intel-vtune:
  buildable: False
  externals:
    - spec: "intel-vtune@2019.6.0.602217 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/intel/2019.5/vtune_amplifier_2019.6.0.602217

intel-advisor:
  buildable: False
  externals:
    - spec: "intel-advisor@2019.5.0.602216 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/intel/2019.5/advisor_2019.5.0.602216

matlab:
  buildable: False
  externals:
    - spec: "matlab@R2018a %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/MATLAB/R2018a
    - spec: "matlab@R2019b %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/MATLAB/R2019b

maple:
  buildable: False
  externals:
    - spec: "maple@2017 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/Maple/2017

mathematica:
  buildable: False
  externals:
    - spec: "mathematica@9.0.1 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/Mathematica/9.0.1
    - spec: "mathematica@11.1.1 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/Mathematica/11.1.1
    - spec: "mathematica@13.0 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/Mathematica/13.0

smr:
  buildable: False
  externals:
    - spec: "smr@2017.06 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/SMR/2017.06

totalview:
  buildable: False
  externals:
    - spec: "totalview@2017.2.11 %{{environment.core_compiler}}"
      prefix: {{ spack_external_root }}/toolworks/totalview.2017.2.11

crystal17:
  permissions:
    read: group
    group: crystal-soft

molpro:
  permissions:
    read: group
    group: molpro-soft

vasp:
  permissions:
    read: group
    group: vasp-soft
{% endif %}
