{% set spack_env_packages = 'templates/' + site + '/' + stack_release + '/' + environment.name + '/packages.yaml.j2' %}
{% set spack_stack_packages = 'templates/' + site + '/' + stack_release + '/packages.yaml.j2' %}

{% if spack_env_packages | exists %}
  {% include spack_env_packages | indent %}
{% elif spack_stack_packages | exists %}
  {% include spack_stack_packages | indent %}
{% else %}
all:
  compiler: [gcc, intel]
  providers:
    iconv: [libiconv]
{% endif %}
