# This is a Spack Environment file.
#
# It describes a set of packages to be installed, along with
# configuration settings.
#
# {{ info_message }}
#
# {{ warning }}
#

spack:

  {% filter indent(width=2, indentfirst=True) %}
    {% set common_site_template = 'templates/' + site + '/common.yaml.j2' %}
    {% if common_site_template | exists %}
      {% include common_site_template | indent %}
    {% else %}
      {% include 'templates/common/common.yaml.j2' %}
    {% endif %}
  {% endfilter %}


  definitions:
    - core_compiler: {{ environment.core_compiler | list_if_not }}
{% for type in environment.stack_types %}
  {% for compiler, stack in environment[type].items() %}
    {% if 'compiler' in stack %}
    - {{compiler}}_{{type}}_compiler: {{ stack.compiler | list_if_not | filter_variant }}
    - {{compiler}}_{{type}}_mpi: {{ stack.mpi | list_if_not }}
    - {{compiler}}_{{type}}_blas: {{ stack.blas | list_if_not }}

    - {{compiler}}_{{type}}_base_stack:
        - ${{compiler}}_{{type}}_blas
        - ${{compiler}}_{{type}}_mpi
    {%endif %}
  {% endfor %}

  {% set compiler_list = environment[type].items() | map(attribute=1) | selectattr('compiler') | map(attribute='compiler') | list %}
    - {{type}}_compilers: {{ compiler_list | filter_variant }}

    - {{type}}_compilers_not_filtered: {{ compiler_list }}
{% endfor %}

    - base_gpu_packages:
        {% if environment.gpu == 'nvidia' %}
          {% for type in environment.stack_types %}
            {% if 'cuda' in environment[type] %}
      - {{ environment[type].cuda.package }}
            {% endif %}
          {% endfor %}
        {% endif %}

    - gcc_python3:
      - python@3.7.7+optimizations+tkinter
    - intel_python3:
      - python@3.7.7+optimizations+tkinter ^freetype@2.7.1 ^fontconfig@2.12.1

    - gcc_python2:

    - intel_python2:

    - core_packages:
      - cmake@3.16.5
      - git
      - autoconf
      - automake
      - curl
      - libtool
      - lmod
      - m4
      - tmux

    - serial_packages:
      - eigen
      - fftw ~mpi+openmp
      - fftw ~mpi~openmp
      - gsl
      - intel-tbb
      - metis+real64
      {% if environment.gpu == 'nvidia' %}
      - {{ environment.stable.cuda.package }}
#      - cudnn ^ {{ environment.stable.cuda.package }}
      {% endif %}

    - serial_packages_lapack:
      - superlu

    - gcc_serial_packages_lapack:
#      - magma {{ cuda_variant(environment, dep=True) }}

    - intel_serial_packages_lapack:

    - serial_packages_python_freetype:
      - py-cython
      - py-matplotlib
      - py-numpy
      - py-pandas
      - py-pip
      - py-ply
      - py-pybind11
      - py-scipy
#      - py-theano {{ cuda_variant(environment, dep=True) }}
      - py-virtualenv
 
    - serial_python2_minimal_support:
 
    - gcc_serial_packages_python_freetype:
      - gdb
#      - py-torch {{ cuda_variant(environment, extra_off='~cudnn~nccl', dep=True) }}

    - intel_serial_packages_python_freetype:

    - mpi_packages:
      - hdf5+szip+mpi+hl+fortran+cxx
      - netcdf-c+mpi
        ^hdf5+szip+mpi+hl+fortran+cxx
      - netcdf-fortran+mpi
        ^netcdf-c+mpi
        ^hdf5+szip+mpi+hl+fortran+cxx

    - mpi_lapack_packages:
      - hypre {{ cuda_variant(environment, arch=False) }}
      - parmetis
        ^metis+real64
      - scotch+esmumps+mpi~metis
      - superlu-dist
        ^parmetis
        ^metis+real64

    - mpi_lapack_python_packages:
      - boost cxxstd=14 +icu+mpi+python+numpy
      - py-h5py
        ^hdf5+szip+mpi+hl+fortran+cxx
      - py-mpi4py

    - gcc_mpi_packages:
      - fftw+mpi+openmp

    - gcc_mpi_lapack_packages:
      - mumps+mpi+parmetis+metis+scotch+ptscotch
        ^parmetis
        ^metis+real64
        ^scotch+esmumps+mpi~metis
        ^netlib-scalapack
      - netlib-scalapack

    - gcc_mpi_lapack_python_packages:
      - petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
        ^mumps+mpi+parmetis+metis+scotch+ptscotch
        ^parmetis
        ^metis+real64
        ^scotch+esmumps+mpi~metis
        ^netlib-scalapack
        ^hdf5+szip+mpi+hl+fortran+cxx
        ^suite-sparse {{ cuda_variant(environment) }}
        ^hypre {{ cuda_variant(environment, arch=False) }}
      - py-petsc4py
        ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
        ^mumps+mpi+parmetis+metis+scotch+ptscotch
        ^parmetis
        ^metis+real64
        ^scotch+esmumps+mpi~metis
        ^netlib-scalapack
        ^hdf5+szip+mpi+hl+fortran+cxx
        ^suite-sparse {{ cuda_variant(environment) }}
        ^hypre {{ cuda_variant(environment, arch=False) }}

    - gcc_mpi_lapack_python2_packages:

    - intel_mpi_packages:

    - intel_mpi_lapack_packages:
      - mumps+mpi+parmetis+metis+scotch+ptscotch
        ^parmetis
        ^metis+real64
        ^scotch+esmumps+mpi~metis

    - intel_mpi_lapack_python_packages:
      - petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
        ^mumps+mpi+parmetis+metis+scotch+ptscotch
        ^parmetis
        ^metis+real64
        ^scotch+esmumps+mpi~metis
        ^hdf5+szip+mpi+hl+fortran+cxx
        ^suite-sparse {{ cuda_variant(environment) }}
        ^hypre {{ cuda_variant(environment, arch=False) }}

    - intel_mpi_lapack_python2_packages:

    - benchmarks:
      - stream
      - stream+openmp

    - mpi_benchmarks:
      - hpl~openmp
      - osu-micro-benchmarks

  specs:
  - matrix:
    - [$base_gpu_packages]
    - [$%core_compiler]

{% for type in environment.stack_types %}
  # {{type}} base compilers
  - matrix:
    - [${{type}}_compilers_not_filtered]
    - [$%core_compiler]
{% endfor %}

{% if not environment.bootstrap %}
  {% for type in environment.stack_types %}
  # {{type}} base compilers
  - matrix:
    - [${{type}}_compilers_not_filtered]
    - [$%core_compiler]
    {% for compiler, stack in environment[type].items() %}
    {% if 'compiler' in stack %}
  # {{type}} stack for {{compiler}} (MPI, Blas)
  - matrix:
    - [${{compiler}}_{{type}}_base_stack]
    - [$%{{compiler}}_{{type}}_compiler]
    {% endif %}
    {% endfor %}
  {% endfor %}

  # Core packages
  - matrix:
    - [$core_packages]
    - [$%core_compiler]

{% for compiler in environment.compilers %}
  - matrix:
    - [$serial_packages]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [$serial_packages_lapack]
    - [$^{{compiler}}_stable_blas]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [${{compiler}}_serial_packages_lapack]
    - [$^{{compiler}}_stable_blas]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [${{compiler}}_python3]
    - [$^{{compiler}}_stable_blas]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [$serial_packages_python_freetype]
    - [$^{{compiler}}_python3]
    - [$^{{compiler}}_stable_blas]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [${{compiler}}_serial_packages_python_freetype]
    - [$^{{compiler}}_python3]
    - [$^{{compiler}}_stable_blas]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [${{compiler}}_python2]
    - [$^{{compiler}}_stable_blas]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [$serial_python2_minimal_support]
    - [$^{{compiler}}_python2]
    - [^py-setuptools@44.1.0]
    - [$^{{compiler}}_stable_blas]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [$mpi_packages]
    - [$^{{compiler}}_stable_mpi]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [${{compiler}}_mpi_packages]
    - [$^{{compiler}}_stable_blas]
    - [$^{{compiler}}_stable_mpi]
    {% if environment.gpu == 'nvidia' and compiler == 'intel' %}
    - [^{{environment.stable.cuda.package }}]
    {% endif %}
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [$mpi_lapack_packages]
    - [$^{{compiler}}_stable_blas]
    - [$^{{compiler}}_stable_mpi]
    {% if environment.gpu == 'nvidia' and compiler == 'intel' %}
    - [^{{environment.stable.cuda.package }}]
    {% endif %}
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [${{compiler}}_mpi_lapack_packages]
    - [$^{{compiler}}_stable_blas]
    - [$^{{compiler}}_stable_mpi]
    {% if environment.gpu == 'nvidia' and compiler == 'intel' %}
    - [^{{environment.stable.cuda.package }}]
    {% endif %}
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [$mpi_lapack_python_packages]
    - [$^{{compiler}}_python3]
    - [$^{{compiler}}_stable_blas]
    - [$^{{compiler}}_stable_mpi]
    {% if environment.gpu == 'nvidia' and compiler == 'intel' %}
    - [^{{environment.stable.cuda.package }}]
    {% endif %}
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [${{compiler}}_mpi_lapack_python_packages]
    - [$^{{compiler}}_python3]
    - [$^{{compiler}}_stable_blas]
    - [$^{{compiler}}_stable_mpi]
    {% if environment.gpu == 'nvidia' and compiler == 'intel' %}
    - [^{{environment.stable.cuda.package }}]
    {% endif %}
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [${{compiler}}_mpi_lapack_python2_packages]
    - [$^{{compiler}}_python2]
    - [$^{{compiler}}_stable_blas]
    - [$^{{compiler}}_stable_mpi]
    {% if environment.gpu == 'nvidia' and compiler == 'intel' %}
    - [^{{environment.stable.cuda.package }}]
    {% endif %}
    - [$%{{compiler}}_stable_compiler]


  - matrix:
    - [$benchmarks]
    - [$%{{compiler}}_stable_compiler]

  - matrix:
    - [$mpi_benchmarks]
    - [$^{{compiler}}_stable_blas]
    - [$^{{compiler}}_stable_mpi]
    {% if environment.gpu == 'nvidia' and compiler == 'intel' %}
    - [^{{environment.stable.cuda.package }}]
    {% endif %}
    - [$%{{compiler}}_stable_compiler]

{% endfor %}
#
{% endif %}

  view: false
