- gcc_python3:
  - python@3.7.7+optimizations+tkinter
- intel_python3:
  - python@3.7.7+optimizations+tkinter ^freetype@2.7.1 ^fontconfig@2.12.1

- gcc_python2:
- intel_python2:

- core_packages:
  - cmake@3.16.5
  - git
  - autoconf
  - automake
  - curl
  - libtool
  - lmod
  - m4

- serial_packages:
  - eigen
  - fftw ~mpi+openmp
  - gsl
  - intel-tbb
  - metis+real64
  {% if environment.gpu == 'nvidia' %}
  - {{ environment.stable.cuda.package }}
  - cudnn ^ {{ environment.stable.cuda.package }}
  {% endif %}

- gcc_serial_packages:
  - gdb

- intel_serial_packages:

- serial_packages_lapack:
#  - superlu
  - plasma

- gcc_serial_packages_lapack:
  {% if environment.gpu == 'nvidia' %}
  - magma {{ cuda_variant(environment, dep=True) }}
  {% endif %}

- intel_serial_packages_lapack:

- serial_packages_python:
  - py-pybind11
  - py-theano {{ cuda_variant(environment, dep=True) }}
  - hwloc +cairo {{ cuda_variant(environment, arch=False, dep=True, extra_on='+nvml') }}
    ^cairo+png+pdf+fc+ft
#  - kokkos +hwloc std=14 +numactl +openmp {{ hip_variant(environment) }} {{ cuda_variant(environment, extra_on='+cuda_lambda +cuda_uvm +wrapper', dep=True) }} 
#    ^hwloc +cairo {{ cuda_variant(environment, arch=False, dep=False, extra_on='+nvml') }}
#    ^cairo+png+pdf+fc+ft
#  {% if environment.gpu == 'nvidia' %}
#    ^kokkos-nvcc-wrapper~mpi
#  {% endif %}
  {% filter indent(width=2, indentfirst=True) %}
  {% include ('templates/scitas/' + stack_release + '/python_activated.yaml.j2') | indent %}
  {% endfilter %}

- serial_python2_minimal_support:

- gcc_serial_packages_python:
  - gdb
  - cube
    ^cairo+png+pdf+fc+ft
    ^qt~ssl

- intel_serial_packages_python:
  - cube
    ^cairo+png+pdf+fc+ft
    ^harfbuzz@2.1.3
    ^qt~ssl

- mpi_packages:
  - fftw+mpi+openmp
  - hdf5+szip+mpi+hl+fortran+cxx
  - netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
  - netcdf-fortran
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
  - scorep +pdt+unwind
    ^llvm +all_targets {{ cuda_variant(environment) }}
  - scalasca

- mpi_lapack_packages:
  - hypre {{ cuda_variant(environment, arch=False) }}
  - parmetis
    ^metis+real64
  - scotch+esmumps+mpi~metis
  - superlu-dist
    ^parmetis
    ^metis+real64

- mpi_lapack_python_packages:
  - py-h5py
    ^hdf5+szip+mpi+hl+fortran+cxx
  - py-mpi4py
  - boost cxxstd=14 +icu+mpi+python+numpy
  - valgrind
    ^boost cxxstd=14 +icu+mpi+python+numpy
- gcc_mpi_packages:

- gcc_mpi_lapack_packages:
  - mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
  - netlib-scalapack

- gcc_mpi_lapack_python_packages:
  - petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}
  - py-petsc4py
    ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False, dep=False) }}

- gcc_mpi_lapack_python2_packages:

- intel_mpi_packages:

- intel_mpi_lapack_packages:
  - mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis

- intel_mpi_lapack_python_packages:
  - petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse
    ^hypre

- intel_mpi_lapack_python2_packages:

- benchmarks:
  - stream
  - stream+openmp

- mpi_benchmarks:
  - hpl~openmp
  - osu-micro-benchmarks
