- gcc_python3:
  - python@3.7.7+optimizations+tkinter
- intel_python3:
  - python@3.7.7+optimizations+tkinter ^freetype@2.7.1 ^fontconfig@2.12.1

- gcc_python2:
- intel_python2:

- core_packages:
  - cmake@3.16.5
  - git
  - autoconf
  - automake
  - curl
  - libtool
  - lmod
  - m4

- serial_packages:
  - eigen
  - fftw ~mpi+openmp
  - gsl
  - intel-tbb
  - metis+real64
  {% if environment.gpu == 'nvidia' %}
  - {{ environment.stable.cuda.package }}
  - cudnn ^ {{ environment.stable.cuda.package }}
  {% endif %}

- gcc_serial_packages:

- intel_serial_packages:

- serial_packages_lapack:
#  - superlu

- gcc_serial_packages_lapack:
  {% if environment.gpu == 'nvidia' %}
  - magma {{ cuda_variant(environment, dep=True) }}
  {% endif %}

- intel_serial_packages_lapack:

- serial_packages_python:
  - py-pybind11
  - py-theano {{ cuda_variant(environment, dep=True) }}
  {% filter indent(width=2, indentfirst=true) %}
  {% include ('templates/scitas/' + stack_release + '/python_activated.yaml.j2') | indent %}
  {% endfilter %}

- serial_python2_minimal_support:

- gcc_serial_packages_python:
  - gdb
  - py-torch {{ cuda_variant(environment, extra_off='~cudnn~nccl', dep=True) }}

- intel_serial_packages_python:

- mpi_packages:
  - fftw+mpi+openmp
  - hdf5+szip+mpi+hl+fortran+cxx
  - netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx
  - netcdf-fortran
    ^netcdf-c+mpi
    ^hdf5+szip+mpi+hl+fortran+cxx

- mpi_lapack_packages:
  - hypre {{ cuda_variant(environment, arch=False) }}
  - parmetis
    ^metis+real64
  - scotch+esmumps+mpi~metis
  - superlu-dist
    ^parmetis
    ^metis+real64

- mpi_lapack_python_packages:
  - py-h5py
    ^hdf5+szip+mpi+hl+fortran+cxx
  - py-mpi4py

- gcc_mpi_packages:

- gcc_mpi_lapack_packages:
  - boost cxxstd=14 +icu+mpi+python+numpy
  - mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
  - netlib-scalapack

- gcc_mpi_lapack_python_packages:
  - petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}
  - py-petsc4py
    ^petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse{{ cuda_variant(environment, arch=False) }}
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^netlib-scalapack
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse {{ cuda_variant(environment) }}
    ^hypre {{ cuda_variant(environment, arch=False) }}

- gcc_mpi_lapack_python2_packages:

- intel_mpi_packages:

- intel_mpi_lapack_packages:
  - mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis

- intel_mpi_lapack_python_packages:
  - petsc~int64+double+hdf5+metis+mpi+mumps+superlu-dist+hypre+suite-sparse
    ^mumps+mpi+parmetis+metis+scotch+ptscotch
    ^parmetis
    ^metis+real64
    ^scotch+esmumps+mpi~metis
    ^hdf5+szip+mpi+hl+fortran+cxx
    ^suite-sparse
    ^hypre

- intel_mpi_lapack_python2_packages:

- benchmarks:
  - stream
  - stream+openmp

- mpi_benchmarks:
  - hpl~openmp
  - osu-micro-benchmarks
