all:
  compiler: {{ environment.compilers }}
  providers:
    iconv: [libiconv]

cmake:
  version: [3.16.5]

openssl:
  version: [develop]
  buildable: True
  paths:
    openssl@develop: /usr

{% if not global_package is defined %}
jdk:
  buildable: False
  {% if environment.os == 'centos7.9' %}
  paths:
    jdk@1.8.0_272-b10: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.272.b10-1.el7_9.x86_64
  version: [1.8.0_272-b10]
  {% elif environment.os == 'rhel7.7' %}
  paths:
    jdk@1.8.0_242-b08: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.242.b08-0.el7_7.x86_64
  version: [1.8.0_242-b08]
  {% elif environment.os == 'rhel7.6' %}
  paths:
    jdk@1.8.0_222-b10: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.222.b10-0.el7_6.x86_64
  version: [1.8.0_222-b10]
  {% elif environment.os == 'rhel8.5' %}
  paths:
    jdk@1.8.0_332-b09-1: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.332.b09-1.el8_5.x86_64
  version: [1.8.0_332-b09-1]
  {% endif %}

slurm:
  buildable: False
  paths:
  {% if 'cloud' in environment and environment.cloud == 'gcp' %}
    slurm@ {{environment.slurm}}: /apps/slurm/slurm-{{environment.slurm}}
  {% else %}
    slurm@{{environment.slurm}}: /usr
  {% endif %}
  version: [{{environment.slurm}}]
{% endif %}

singularity:
  buildable: False
  paths:
    singularity~suid@3.6.2-1.el7: /usr

####
# Concretization preferences
####
guile:
  variants: '~threads'

py-numpy:
  # limitation due to tensorflow
  version: [1.18]
