- py-cython
- py-matplotlib
- py-numpy
- py-pandas
- py-pip
- py-ply
- py-requests
- py-scipy
- py-semver
- py-six
- py-sympy
- py-virtualenv
- py-xarray
# extras for tensorflow
- py-absl-py
- py-astunparse
- py-gast
- py-google-pasta
- py-grpcio
- py-keras-preprocessing
- py-opt-einsum
- py-protobuf
- py-termcolor
- py-wheel
- py-wrapt
- py-pyyaml
