{% if stack_release and stack_version %}
   {% set spack_source_tree = prefix +'/' + stack_release + '/spack.' + stack_version %}
   {% set spack_install_tree = prefix +'/' + stack_release + '/' + stack_version %}
   {% set spack_install_tree_upstream = spack_root +'/' + stack_release + '/' + stack_version %}
{% else %}
   {% set spack_source_tree = prefix + '/' + 'spack' %}
   {% set spack_install_tree = prefix +'/' + 'spack' %}
   {% set spack_install_tree_upstream = spack_root +'/' + 'spack' %}
{% endif %}

include:
#  - {{ spack_source_tree}}/etc/spack/compilers.yaml
  - {{ spack_source_tree }}/etc/spack/packages.yaml
  - {{ spack_source_tree }}/etc/spack/repos.yaml
  - {{ spack_source_tree }}/etc/spack/modules.yaml
  - {{ spack_source_tree }}/etc/spack/mirrors.yaml

config:
  {% if spack_release == 'v0.15.4' %}
  install_tree: {{ spack_install_tree }}/opt/spack/
  {% else %}
  install_tree:
    root: {{ spack_install_tree }}/opt/spack/
  {% endif %}

  module_roots:
    lmod: {{ spack_install_tree }}/share/spack/lmod/{{ environment.name }}
    tcl: {{ spack_install_tree }}/share/spack/modules/{{ environment.name }}

  build_stage:
    {% if stack_version %}
    - $tempdir/{{ stack_release }}.{{ stack_version }}/tmp
    {% else %}
    - $tempdir/{{ stack_release }}/tmp
    {% endif %}
    - $tempdir/$user/spack-stage
    - ~/.spack/stage

  misc_cache: ~/.spack/cache/{{stack_release}}/{{environment.name}}

{% if in_pr %}
upstreams:
  {{environment.name}}:
    install_tree: {{ spack_install_tree_upstream }}/opt/spack
{% endif %}

{% set spack_site_compilers = 'templates/' + site + '/compilers.yaml.j2' %}
compilers:
{% if spack_site_compilers | exists %}
  {% include spack_site_compilers | indent %}
{% else %}
  {% include 'templates/common/compilers.yaml.j2' | indent %}
{% endif %}

{% set spack_site_packages = 'templates/' + site + '/packages.yaml.j2' %}
packages:
{% if spack_site_packages | exists %}
  {% filter indent(width=2, indentfirst=True) %}
  {% include spack_site_packages | indent %}
  {% endfilter %}
{% endif %}

{% set spack_site_repos = 'templates/' + site + '/repos.yaml.j2' %}
{% if spack_site_repos | exists %}
repos:
  {% include spack_site_repos | indent %}
{% elif extra_repos %}
repos:
  {% for repo, info in extra_repos.items() %}
- {{ info.path | absolute_path(prefix=[spack_root, stack_release, 'external_repos']) }}
  {% endfor %}
{% endif %}

{% set spack_site_modules = 'templates/' + site + '/modules.yaml.j2' %}
{% if spack_site_modules | exists %}
  {% include spack_site_modules | indent %}
{% else %}
  {% include 'templates/common/modules.yaml.j2' | indent %}
{% endif %}
