- compiler:
    spec: {{ environment.core_compiler  | filter_variant }}
    paths:
      cc: /usr/bin/gcc
      cxx: /usr/bin/g++
      f77: /usr/bin/gfortran
      fc: /usr/bin/gfortran
    flags: {}
    operating_system: {{ environment.os | regex_replace('([a-z]+[0-9]+)(\.[0-9]+)+', '\\1') }}
    target: x86_64
    modules: []
    environment:
      unset: []
    extra_rpaths: []

{% if not environment.bootstrap %}
  {% for _type in environment.stack_types %}
    {% for _compiler, stack in environment[_type].items() %}
      {% if 'compiler' in stack and 'compiler_prefix' in stack %}
- compiler:
        {% if _compiler == 'intel' %}
          {% if stack.external %}
            {% set prefix = stack.compiler_prefix + '/bin/intel64' %}
          {% else %}
            {% set prefix = stack.compiler_prefix +  '/compilers_and_libraries_' + stack['suite_version'] + '/linux/bin/intel64' %}
          {% endif %}
        {% elif _compiler == "nvhpc" %}
          {% set prefix = stack.compiler_prefix + '/Linux_x86_64/' + stack.version + '/compilers/bin' %}
        {% else %}
          {% set prefix = stack.compiler_prefix + '/bin' %}
        {% endif %}
    spec: {{ stack.compiler | filter_variant }}
    paths:
      cc:  {{ prefix }}/{{ _compiler | compiler(component='cc') }}
      cxx: {{ prefix }}/{{ _compiler | compiler(component='c++') }}
      f77: {{ prefix }}/{{ _compiler | compiler(component='f77') }}
      fc:  {{ prefix }}/{{ _compiler | compiler(component='f90') }}
    flags: {}
    operating_system: {{ environment.os | regex_replace('([a-z]+[0-9]+)(\.[0-9]+)+', '\\1') }}
    target: x86_64
    modules: []
    environment:
      prepend_path:
      {% if _compiler == 'intel' %}
        LD_LIBRARY_PATH: {{ stack.compiler_prefix}}/compiler/lib/intel64_lin
        PATH: {{ prefix }}
      {% elif _compiler == 'gcc' %}
        LD_LIBRARY_PATH: {{ stack.compiler_prefix}}/lib64
      {% endif %}
      unset: []
    extra_rpaths: []
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
  
{% set compilers_site_template = 'templates/' + site + '/' + environment.name + '/compilers.yaml.j2' %}
{% if compilers_site_template | exists %}
  {% include compilers_site_template | indent %}
{% endif %}
