{% for type in environment.stack_types %}
  {% for compiler, stack in environment[type].items() %}
    {% if 'compiler' in stack %}
- {{ stack | full_compiler_name(environment, stack_type=type) }}
      {% for _mpi in (stack.mpi | list_if_not) %}
- {{ _mpi }} %{{stack.compiler | filter_variant | filter_compiler_name }}
      {% endfor %}
      {% for _blas in (stack.blas | list_if_not) %}
- {{ _blas }} %{{stack.compiler | filter_variant | filter_compiler_name }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
