+mpi: mpi
+openmp: openmp
threads=openmp: openmp
^fftw+openmp: openmp
+cuda: cuda
+nvptx: cuda
hdf5=parallel: h5
'^python@:2.99': py2
+plumed: plumed
+double-gpu: double-gpu
+unwind: unwind
file_systems=nfs: nfs
device=ch3: ch3
device=ch4: ch4
+debug: dbg
+libx264: x264
