modules:
  enable:
    - tcl
    - lmod
  lmod:
    hash_length: 0
    core_compilers:
      - {{ environment.core_compiler | filter_variant }}
    hierarchy:
      - mpi
    all:
      suffixes:
        {% filter indent(width=8, indentfirst=True) %}
        {% include 'templates/common/modules_suffixes.yaml.j2' %}

        {% include 'templates/{{ site }}/modules_suffixes.yaml.j2' ignore missing %}
        {% endfilter %}
          
      environment:
        set:
          ${PACKAGE}_ROOT: ${PREFIX}
        unset: []

      filter:
        environment_blacklist: []

    {% set spack_site_whitelist = 'templates/' + site + '/modules_whitelist.yaml.j2' %}
    {% if spack_site_whitelist | exists %}
    whitelist:
      {% filter indent(width=6, indentfirst=True) %}
      {% include spack_site_whitelist ignore missing %}
      {% endfilter %}
    {% endif %}

    {% set spack_site_blacklist = 'templates/' + site + '/modules_blacklist.yaml.j2' %}
    {% if spack_site_blacklist | exists %}
    blacklist:
      {% filter indent(width=6, indentfirst=True) %}
      {% include spack_site_blacklist %}
      {% endfilter %}
    {% endif %}

    verbose: false
    blacklist_implicits: {{ blacklist_implicits | default(true) }}

    {% filter indent(width=4, indentfirst=True) %}
    {% include 'templates/{{ site }}/modules_lmod_specific.yaml.j2' ignore missing %}
    {% endfilter %}
