all:
  compiler: {{ environment.compilers }}
  providers:
    iconv: [libiconv]

cmake:
  version: [3.16.5]

openssl:
  version: [1.0.2k]
  buildable: True
  externals:
    - spec: "openssl@develop"
      prefix: /usr

{% if not global_package is defined %}
jdk:
  buildable: False
  {% if environment.os == 'centos7.9' %}
  externals:
    - spec: "jdk@1.8.0_272-b10"
      prefix: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.272.b10-1.el7_9.x86_64
  version: [1.8.0_272-b10]
  {% elif environment.os == 'rhel7.7' %}
  externals:
    - spec: "jdk@1.8.0_242-b08"
      prefix: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.242.b08-0.el7_7.x86_64
  version: [1.8.0_242-b08]
  {% elif environment.os == 'rhel7.6' %}
  externals:
    - spec: "jdk@1.8.0_222-b10"
      prefix: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.222.b10-0.el7_6.x86_64
  version: [1.8.0_222-b10]
  {% endif %}

slurm:
  buildable: False
  externals:
    - spec: "slurm@ {{environment.slurm}}"
  {% if 'cloud' in environment and environment.cloud == 'gcp' %}
      prefix: /apps/slurm/slurm-{{environment.slurm}}
  {% else %}
      prefix: /usr
  {% endif %}
  version: [{{environment.slurm}}]
{% endif %}

####
# Concretization preferences
####
guile:
  variants: '~threads'

py-numpy:
  # limitation due to tensorflow
  version: [1.18]

flex:
  version: [2.6.4]
