{% for _type in ['old', 'bleeding_edge'] %}
  {% if _type in environment.stack_types %}
    {% for compiler, stack in environment[_type].items() %}
      {% if compiler in environment.compilers and compiler in environment[_type] %}
- matrix:
  - [$serial_packages]
  - [$%{{compiler}}_{{_type}}_compiler]

- matrix:
  - [$old_serial_packages]
  - [$%{{compiler}}_{{_type}}_compiler]

- matrix:
  - [$serial_packages_lapack]
  - [$^{{compiler}}_{{_type}}_blas]
  - [$%{{compiler}}_{{_type}}_compiler]

#- matrix:
#  - [${{compiler}}_serial_packages_lapack]
#  - [$^{{compiler}}_{{_type}}_blas]
#  - [$%{{compiler}}_{{_type}}_compiler]
#
- matrix:
  - [$mpi_packages]
  - [$^{{compiler}}_{{_type}}_mpi]
  {% if environment.gpu == 'nvidia' %}
  - [^{{environment[_type].cuda.package }}]
  {% endif %}
  - [$%{{compiler}}_{{_type}}_compiler]

- matrix:
  - [${{compiler}}_mpi_packages]
  - [$^{{compiler}}_{{_type}}_blas]
  - [$^{{compiler}}_{{_type}}_mpi]
  {% if environment.gpu == 'nvidia' %}
  - [^{{environment[_type].cuda.package }}]
  {% endif %}
  - [$%{{compiler}}_{{_type}}_compiler]

- matrix:
  - [$mpi_lapack_packages]
  - [$^{{compiler}}_{{_type}}_blas]
  - [$^{{compiler}}_{{_type}}_mpi]
  {% if environment.gpu == 'nvidia' %}
  - [^{{environment[_type].cuda.package }}]
  {% endif %}
  - [$%{{compiler}}_{{_type}}_compiler]

- matrix:
  - [${{compiler}}_mpi_lapack_packages]
  - [$^{{compiler}}_{{_type}}_blas]
  - [$^{{compiler}}_{{_type}}_mpi]
  {% if environment.gpu == 'nvidia' %}
  - [^{{environment[_type].cuda.package }}]
  {% endif %}
  - [$%{{compiler}}_{{_type}}_compiler]

- matrix:
  - [$mpi_lapack_python_packages]
  - [$^{{compiler}}_python3]
  - [$^{{compiler}}_{{_type}}_blas]
  - [$^{{compiler}}_{{_type}}_mpi]
  {% if environment.gpu == 'nvidia' %}
  - [^{{environment[_type].cuda.package }}]
  {% endif %}
  - [$%{{compiler}}_{{_type}}_compiler]

- matrix:
  - [${{compiler}}_mpi_lapack_python_packages]
  - [$^{{compiler}}_python3]
  - [$^{{compiler}}_{{_type}}_blas]
  - [$^{{compiler}}_{{_type}}_mpi]
  {% if environment.gpu == 'nvidia' %}
  - [^{{environment[_type].cuda.package }}]
  {% endif %}
  - [$%{{compiler}}_{{_type}}_compiler]

      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% if 'stable' in environment.stack_types %}
  {% for compiler, stack in environment.stable.items() %}
    {% if compiler in environment.compilers %}
- matrix:
  - [$stable_serial_packages]
  - [$%{{compiler}}_stable_compiler]
    {% endif %}
  {% endfor %}
{% endif %}

