{% if stack_release and stack_version %}
   {% set spack_source_tree = spack_root +'/' + stack_release + '/spack.' + stack_version %}
   {% set spack_install_tree = spack_root +'/' + stack_release + '/' + stack_version %}
{% else %}
   {% set spack_source_tree = spack_root + '/' + 'spack' %}
   {% set spack_install_tree = spack_root +'/' + 'spack' %}
{% endif %}
config:
  # Root of the installation tree
  install_tree: {{ spack_install_tree }}/opt/spack/

  module_roots:
    lmod: {{ spack_install_tree }}/share/spack/lmod/
    tcl: {{ spack_install_tree }}/share/spack/modules/

  build_stage:
    {% if stack_version %}
    - $tempdir/{{ stack_release }}.{{ stack_version }}/tmp
    {% else %}
    - $tempdir/{{ stack_release }}/tmp
    {% endif %}
    - $tempdir/$user/spack-stage
    - ~/.spack/stage
